* {
   background-color: #535353;
}

.logo img {
   width: 164px;
}

nav {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-family: "Segoe UI";
}

.right ul {
   display: flex;

}

.right ul li {
   list-style: none;
   margin-right: 15px;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.right ul li span {
   color: white;
   padding: 0 5px;
}